.header_color {
  background: #cc2b5e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.landing-page {
  background: #cc2b5e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px 0 !important;

}
.title-style{
  text-decoration: none;
  font-size: 28px;
  color: #fff;
}
.toggle-title-style{
  text-align: center;
  text-decoration: none;
  padding: 25px 0;
  color: #000;
  font-size: 28px;
  font-weight: bold;
}
.pp_img{
  height: 250px;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 50%;

}
.landing_p_title{
  background: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;

}
.landing_p_title h1{
  font-size: 66px;
  font-weight: bold;
  color: #fff;
  text-align: center;

}

.landing_p_title hr{
  color: #fff;
  border-top: 5px dotted;
  width: 50%;
  margin: auto;
}
.landing_p_title p{
  color: #fff;
  font-size: 16px;
  padding: 20px;
}

.social_link{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;

}
.social_link i {
  color: #fff;
  font-size: 5em;
  padding: 20px 0 ;

}
.project_card{
  display: flex;
  padding-top: 30px;

}

/* ======== Contact page Css========== */
.contactPage_body{
  background: gray;
  margin: auto;
  width: 100%;
  justify-content: center;
  padding: 115px 0;
}
.contact_body{
  text-align: center;
  justify-content: center;
  width: 80%;
  background: white;
  border: 2px solid red;
  margin-bottom: 20px;
}
.profile_img{
  width: 250px;
}
.contact_body p{
  text-align: justify;
  padding: 0 20px;
}
.contact_body h3{
  font-weight: bold;
}
.contact_body hr{
  border-top: 5px double black;
  width: 50%;
  margin: auto;
}
.cont_info{
  font-size: 40px;
}
.cont_info i {
  padding-right:20px ;
  font-size: 60px;
}
/* ======== Contact page Css========== */